.container {
    width: 50%;
    align-items: center;
}

.h1-inventory{
    text-align: center;
}

.inventory-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(12, 11, 12);
    align-content: center;
    border-color: black;
      
}

thead th:nth-child(1) {
    width: 5%;
    
  }

  th, td {
    padding: 5px;
    
  }
  thead, tfoot {
    background: url(leopardskin.jpg);
    color: rgb(14, 11, 11);
  }
  thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  }